/**
 * @doc demo样式
 * @author Heanes
 * @time 2016-11-30 20:26:03 周三
 */
/****************************** 重设全局样式 ******************************/
html{
    color:#000;
    background:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    word-break:break-all;
}
html,body{margin:0;padding:0;}
/****************************** 页面样式 ******************************/
.tree-top-wrap{color:#333;line-height:50px;height:50px;}
.tree-left{width:220px;color:#333;}

/*
.tree-list-wrap>.tree-group>li>a{border-left:3px solid transparent;}
.tree-list-wrap>.tree-group>li>a:hover{border-left-color:#3c8dbc;}
.tree-list-wrap .tree-group li a:hover{background-color:#6ba6b7;}*/
